<div class="col-lg-6">
    <form class="form-horizontal" ng-submit="changePassword()">
      <fieldset>
        <legend>Change password</legend>
        <div class="form-group">
          <label for="inputEmail" class="col-lg-2 control-label">Old Password</label>
          <div class="col-lg-10">
            <input class="form-control" ng-model="oldPassword" placeholder="Old password" type="password" required>
          </div>
        </div>
        <div class="form-group">
          <label for="inputPassword" class="col-lg-2 control-label">New Password</label>
          <div class="col-lg-10">
            <input class="form-control" ng-model="newPassword" placeholder="New Password" type="password" required>
          </div>
        </div>
         <div class="form-group">
          <label for="inputPassword" class="col-lg-2 control-label">New Password Confirm</label>
          <div class="col-lg-10">
            <input class="form-control" ng-model="newPasswordConfirm" placeholder="New Password Confirm" type="password" required>
          </div>
        </div>
        <div class="form-group">
          <div class="col-lg-10 col-lg-offset-2">
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
        </div>
      </fieldset>
    </form>
</div>